*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F7F7F7;
    width: 99%;
    height: 1000px;
}
.nav
{ 
 border: 2px solid #7B7B7B29;
 background-color: #FFFFFF;
 height: 100px;
 align-items: center;
 font-size: 35px;
 display: flex;
 /* justify-content: flex-start; */
 column-gap: 10px;
 
 
}
.blueword{
    color: #00A5EC;
}
.taskbar{
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    height: 100px;
    width: 98%;
    align-items: center;
    column-gap: 10px;

  
}
.logo
{
    color: #00A5EC;
}

a{
    text-decoration: none;
    color: #00A5EC;
}
 h3{
    color: #00A5EC;
    position: relative;
    left: 25px;
    top: 15px; 
    /* display: flex;
    justify-content: center;
    align-items: center; */
} 

.main{
    display: flex;
    justify-content: center;
}
.container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}
.headline{
    height: 50px;
}
.box{

    width: 280px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid  #EDEDED;
    

}
.checkbox1{
    text-decoration: line-through;
    color: #C2C2C2;
    position: relative;
    left: 25px;
    top: 15px;
}
.checkboxx{
    position: relative;
    left: 25px;
    top: 15px;
}
input{
    height: 20px;
    width: 20px;
}
hr{
     /* border:#C2C2C2  */
}
@media screen and (max-width:500px)
{
    .container{
        flex-direction: column;
    }
}
@media screen and (max-width:402px)
{
    .rightword
    {
         visibility: hidden; 
        /* display: none; */

    }
}