body {
    background-color: #f7f7f7;
  }
  .nav {
    border: 2px solid #7b7b7b29;
    background-color: #ffffff;
    height: 100px;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    /* width: 100%; */
    /* justify-content: flex-start; */
    column-gap: 10px;
  }
  .blueword {
    color: #00a5ec;
  }
  .main-container {
    border: 1px solid #67676729;
    border-radius: 5px;
    height: 300px;
    width: 280px;
    background-color: white;
  }
  #add1 {
    color: #00a5ec;
  }
  #add {
    color: black;
  }
  /* body{
      display: flex;
      justify-content: center;
      align-items: center;
  } */
  /* .parent
  {
      display: flex;
      justify-content: center;
      align-items: center;   
  } */
  .main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .changes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bluebutton {
    font-size: 22px;
  }
  .backbutton {
    font-size: 22px;
    /* color: black; */
  }
  .para {
    color: black;
  }
  .child1 {
    color: #00a5ec;
  }
  .trip {
    text-align: center;
    color: #00a5ec;
  }
  input {
    height: 21px;
    width: 21px;
  }
  
  .charch {
    text-decoration: line-through;
  }
  a {
    text-decoration: none;
  }
  .combine {
    margin-left: 20px;
  }
  
  /* #opacity21
  {   background-color: black;
      opacity: 1;
      position: absolute;
      top: 0px;
  } */
  .main-div {
    border: 1px solid black;
    border-radius: 6px;
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: white;
    top: 30%;
    left: 40%;
  }
  .sub-div1 {
    display: flex;
  }
  .div-child1 {
    position: relative;
    left: 10px;
    font-weight: bold;
  }
  .div-child2 {
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 25px;
  }
  .blank {
    width: 88%;
    position: relative;
    left: 10px;
    padding-left: 6px;
  }
  button {
    background-color: #00a5ec;
    border:  #00a5ec;
    color: white;
    padding: 10px;
    width: 45%;
    position: absolute;
    bottom: 25px;
    right: 15px;
  }
  .opacity3 {
    background-color: black;
    width: 99%;
    height: 100vh;
    opacity: 0.5;
    position: absolute;
    top: 0px;
  }
  @media screen and (max-width: 500px) {
      .container {
        flex-direction: column;
      }
      #add {
        visibility: hidden;
      }
      .main-div {
        left: 15%;
        /* width: %; */
      }
    }
  